html{
    overflow: hidden;
}

body {
    display: grid;
    grid-template-areas: "content";
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 110px;
    place-self: start center;
    grid-area: content;
    width: 100%;
    z-index: 1;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
main {
    grid-area: content;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "text"
                          "text"
                           "container";
    height: 100vh;
    align-items: center;
}